@font-face { font-family: Pixel; src: url('../Fonts/VCR_OSD_MONO.ttf'); }

h1 {
    font-family: Pixel
}

body {
    background-color: #a6c3ff;
    font-family: Pixel;
}

#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.title {
    text-align:center;
    font-size: 11vw;
    width: 100%;
    margin:0 auto;
}


.wrapper {
    display: grid;
    margin:0 auto;
    width:90%;
    grid-gap:0.5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b b c"
                         "a b b d"
                         "a b b e"
                         "a b b f"
                         "h i j k";
}
.Profile {
    grid-area: a;
    aspect-ratio: 1/1;
    background-size: 110%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.Bio{
    grid-area: b;
    border: 3px solid black;
    background-color: #ffffff;
    text-align: center;
}

.CV{
    grid-area: c;
    background-color: #ffffff;
    border: 3px solid black;
}

.GITHUB{
    grid-area: d;
    background-color: #ffffff;
    border: 3px solid black;
}

.LINKEDIN{
    grid-area: e;
    background-color: #ffffff;
    border: 3px solid black;
}

.Contact{
    grid-area: f;
    background-color: #ffffff;
    border: 3px solid black;
}

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: Pixel;
}
.button1 {
    background-color: #008CBA;

}
.button1:hover {
    background-color: #000000;
    color: white;
}
.button2 {
    background-color: #f44336;
}
.button2:hover {
    background-color: #000000;
    color: white;
}
.button3 {
    background-color: #e7e7e7; color: black;
}
.button3:hover {
    background-color: #000000;
    color: white;
}
.button4 {
    background-color: #555555;
}
.button4:hover {
    background-color: #000000;
    color: white;
}

.Project-1{
    grid-area: h;
    background-color: #ffffff;
    border: 3px solid black;
}

.Project-2{
    aspect-ratio: 1/1;
    grid-area: i;
    background-color: #ffffff;
    border: 3px solid black;
}

.Project-3{
    grid-area: j;
    background-color: #ffffff;
    border: 3px solid black;
}

.Project-4{
    aspect-ratio: 1/1;
    grid-area: k;
    background-color: #ffffff;
    border: 3px solid black;
}


